USE [master]
GO
/****** Object:  Database [snnb_FO]    Script Date: 3/07/2023 12:58:19 ******/
CREATE DATABASE [snnb_FO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'snnb_FO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\snnb_FO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ), 
 FILEGROUP [memory_optimized_filegroup_0] CONTAINS MEMORY_OPTIMIZED_DATA  DEFAULT
( NAME = N'memory_optimized_file_836562713', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\memory_optimized_file_836562713' , MAXSIZE = UNLIMITED)
 LOG ON 
( NAME = N'snnb_FO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\snnb_FO_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [snnb_FO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [snnb_FO]
GO
/****** Object:  Table [dbo].[M_SpectralNetGroups]    Script Date: 3/07/2023 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_SpectralNetGroups]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DateStamp] [datetime2](7) NOT NULL,
	[GroupID] [int] NOT NULL,
	[GroupName] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[Site] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[UnitId] [int] NOT NULL,
	[UnitName] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[ChassisName] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[Location] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[IpAddress] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[Direction] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[Error] [bit] NOT NULL,
	[ErrorText] [nvarchar](512) COLLATE Latin1_General_CI_AS NOT NULL,
	[ReponseTime] [int] NOT NULL,

 CONSTRAINT [PK_M_SpectralNetGroups]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
/****** Object:  View [dbo].[RtStatus]    Script Date: 3/07/2023 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[RtStatus]
AS
SELECT     dbo.M_SpectralNetGroups.*
FROM        dbo.M_SpectralNetGroups
WHERE     (UnitId = 2000)
GO
/****** Object:  Table [dbo].[H_FormatConfig]    Script Date: 3/07/2023 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[H_FormatConfig](
	[Table] [nvarchar](255) NULL,
	[Attribute] [nvarchar](255) NULL,
	[Access] [nvarchar](255) NULL,
	[Normal] [nvarchar](255) NULL,
	[Scale] [nvarchar](255) NULL,
	[Format] [nvarchar](255) NULL,
	[Units] [nvarchar](255) NULL,
	[Help] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[H_RangeConfig]    Script Date: 3/07/2023 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[H_RangeConfig](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[Table] [nvarchar](50) NOT NULL,
	[Attribute] [nvarchar](50) NOT NULL,
	[Lower] [float] NOT NULL,
	[Upper] [float] NOT NULL,
	[Enabled] [bit] NOT NULL,
	[InRange] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[H_SpectralNetGroups]    Script Date: 3/07/2023 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[H_SpectralNetGroups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[GroupID] [int] NOT NULL,
	[GroupName] [nvarchar](128) NOT NULL,
	[Site] [nvarchar](128) NOT NULL,
	[UnitId] [int] NOT NULL,
	[UnitName] [nvarchar](128) NOT NULL,
	[ChassisName] [nvarchar](128) NOT NULL,
	[Location] [nvarchar](128) NOT NULL,
	[PreIpAddress] [nvarchar](128) NOT NULL,
	[IpAddress] [nvarchar](128) NOT NULL,
	[RestQuery] [nvarchar](128) NOT NULL,
	[Direction] [nvarchar](128) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[Timeout] [int] NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_H_SpectralNetGroups] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_AvailableStreams]    Script Date: 3/07/2023 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_AvailableStreams]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[sourceIpAddress] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[sourcePort] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[streamId] [numeric](10, 0) NOT NULL,
	[centerFrequency] [float] NOT NULL,
	[bandwidth] [float] NOT NULL,
	[sampleRate] [float] NOT NULL,
	[gain] [float] NOT NULL,
	[sampleWidth] [numeric](5, 0) NOT NULL,
	[pfecEnabled] [bit] NOT NULL,
	[irigLocked] [bit] NOT NULL,
	[onePpsPresent] [bit] NOT NULL,
	[tenMhzLocked] [bit] NOT NULL,

 CONSTRAINT [PK_M_AvailableStreams]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
/****** Object:  Table [dbo].[M_ControlNic]    Script Date: 3/07/2023 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_ControlNic]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[addresses] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[address] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[netmask] [int] NOT NULL,

 CONSTRAINT [PK_M_ControlNic]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
/****** Object:  Table [dbo].[M_DataNic]    Script Date: 3/07/2023 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_DataNic]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[addresses] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[address] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[netmask] [int] NOT NULL,

 CONSTRAINT [PK_M_DataNic]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
/****** Object:  Table [dbo].[M_Dependencies]    Script Date: 3/07/2023 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Dependencies]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[dependant] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,

 CONSTRAINT [PK_M_Dependencies]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
/****** Object:  Table [dbo].[M_InputRfPort1Spectrum]    Script Date: 3/07/2023 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_InputRfPort1Spectrum]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[Spectrum] [nvarchar](max) COLLATE Latin1_General_CI_AS NOT NULL,

 CONSTRAINT [PK_M_InputRfPort1Spectrum]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
/****** Object:  Table [dbo].[M_InputRfPort2Spectrum]    Script Date: 3/07/2023 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_InputRfPort2Spectrum]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[Spectrum] [nvarchar](max) COLLATE Latin1_General_CI_AS NOT NULL,

 CONSTRAINT [PK_M_InputRfPort2Spectrum]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
/****** Object:  Table [dbo].[M_InputRfSpectrum]    Script Date: 3/07/2023 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_InputRfSpectrum]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[Spectrum] [nvarchar](max) COLLATE Latin1_General_CI_AS NOT NULL,

 CONSTRAINT [PK_M_InputRfSpectrum]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
/****** Object:  Table [dbo].[M_Modules]    Script Date: 3/07/2023 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Modules]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[active] [bit] NOT NULL,
	[address] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[compositeStatus] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[compositeStatusMsg] [nvarchar](512) COLLATE Latin1_General_CI_AS NOT NULL,
	[contextPacketState] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[currentGain] [numeric](10, 0) NOT NULL,
	[discardedPackets] [numeric](10, 0) NOT NULL,
	[enableMulticastGroupSubscriptions] [bit] NOT NULL,
	[fanSpeed] [numeric](5, 0) NOT NULL,
	[gainMode] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[gateway] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[healthStatus] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[healthStatusMsg] [nvarchar](512) COLLATE Latin1_General_CI_AS NOT NULL,
	[inputRfAdcSaturation] [real] NOT NULL,
	[inputRfAdcSaturationPercent] [real] NOT NULL,
	[inputRfBandwidth] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[inputRfCenterFrequency] [real] NOT NULL,
	[inputRfPort1AdcSaturation] [real] NOT NULL,
	[inputRfPort1AdcSaturationPercent] [real] NOT NULL,
	[inputRfPort1MinimumGain] [int] NOT NULL,
	[inputRfPort1Power] [real] NOT NULL,
	[inputRfPort2AdcSaturation] [real] NOT NULL,
	[inputRfPort2AdcSaturationPercent] [real] NOT NULL,
	[inputRfPort2MinimumGain] [int] NOT NULL,
	[inputRfPort2Power] [real] NOT NULL,
	[inputRfPortSelect] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[inputRfPower] [real] NOT NULL,
	[inputRfSampleRate] [numeric](10, 0) NOT NULL,
	[invertRfOutputSpectrum] [bit] NOT NULL,
	[irigDcLocked] [bit] NOT NULL,
	[irigLocked] [bit] NOT NULL,
	[label] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[logLevel] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[manualGain] [int] NOT NULL,
	[minimumGain] [int] NOT NULL,
	[moduleState] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[moduleType] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[ntpStatus] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[onePpsPresent] [bit] NOT NULL,
	[outputAttenuation] [real] NOT NULL,
	[outputRfCenterFrequency] [float] NOT NULL,
	[outputRfDacSaturation] [real] NOT NULL,
	[outputRfDacSaturationPercent] [real] NOT NULL,
	[outputRfPort1DacSaturation] [real] NOT NULL,
	[outputRfPort1DacSaturationPercent] [real] NOT NULL,
	[outputRfPort1Power] [real] NOT NULL,
	[outputRfPort2DacSaturation] [real] NOT NULL,
	[outputRfPort2DacSaturationPercent] [real] NOT NULL,
	[outputRfPort2Power] [real] NOT NULL,
	[outputRfPortSelect] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[outputRfPower] [real] NOT NULL,
	[overrideOutputFrequency] [real] NOT NULL,
	[overrideOutputFrequencyEnable] [bit] NOT NULL,
	[pollInterval] [numeric](10, 0) NOT NULL,
	[posixNanoseconds] [numeric](10, 0) NOT NULL,
	[posixSeconds] [numeric](10, 0) NOT NULL,
	[rebootRequired] [bit] NOT NULL,
	[replyWaitTime] [nvarchar](32) COLLATE Latin1_General_CI_AS NOT NULL,
	[requiredReadPrivilege] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[requiredWritePrivilege] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[rfOutputEnable] [bit] NOT NULL,
	[rfOutputSource] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[securitySource] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[serialNumber] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[shortDescription] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[simulate] [bit] NOT NULL,
	[squelchEnabled] [bit] NOT NULL,
	[systemTemperature] [int] NOT NULL,
	[systemTimeSource] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[tenMhzLocked] [bit] NOT NULL,
	[version] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,

 CONSTRAINT [PK_M_Modules]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
/****** Object:  Table [dbo].[M_MulticastGroupSubscriptions]    Script Date: 3/07/2023 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_MulticastGroupSubscriptions]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[MCastAddr] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,

 CONSTRAINT [PK_M_MulticastGroupSubscriptions]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
/****** Object:  Table [dbo].[M_OutputRfPort1Spectrum]    Script Date: 3/07/2023 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_OutputRfPort1Spectrum]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[Spectrum] [nvarchar](max) COLLATE Latin1_General_CI_AS NOT NULL,

 CONSTRAINT [PK_M_OutputRfPort1Spectrum]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
/****** Object:  Table [dbo].[M_OutputRfPort2Spectrum]    Script Date: 3/07/2023 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_OutputRfPort2Spectrum]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[Spectrum] [nvarchar](max) COLLATE Latin1_General_CI_AS NOT NULL,

 CONSTRAINT [PK_M_OutputRfPort2Spectrum]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
/****** Object:  Table [dbo].[M_OutputRfSpectrum]    Script Date: 3/07/2023 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_OutputRfSpectrum]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[Spectrum] [nvarchar](max) COLLATE Latin1_General_CI_AS NOT NULL,

 CONSTRAINT [PK_M_OutputRfSpectrum]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
/****** Object:  Table [dbo].[M_RfInputStream]    Script Date: 3/07/2023 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_RfInputStream]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[name] [nvarchar](128) COLLATE Latin1_General_CI_AS NULL,
	[bitRate] [numeric](10, 0) NULL,
	[dataSampleWidth] [numeric](5, 0) NULL,
	[destinationHost] [nvarchar](128) COLLATE Latin1_General_CI_AS NULL,
	[destinationPort] [numeric](5, 0) NULL,
	[frequencyOffset] [bigint] NULL,
	[maximumPacketSize] [numeric](10, 0) NULL,
	[measuredNetworkRate] [numeric](20, 0) NULL,
	[measuredPacketRate] [numeric](10, 0) NULL,
	[minimumProcessingDelay] [float] NULL,
	[packetOverhead] [float] NULL,
	[pfecEnable] [bit] NULL,
	[routeSearch] [nvarchar](128) COLLATE Latin1_General_CI_AS NULL,
	[sourcePort] [numeric](5, 0) NULL,
	[streamBandwidth] [numeric](20, 0) NULL,
	[streamEnable] [bit] NULL,
	[streamGain] [float] NULL,
	[streamId] [numeric](10, 0) NULL,
	[streamSampleRate] [float] NULL,

 CONSTRAINT [PK_M_RfInputStream]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
/****** Object:  Table [dbo].[M_RfOutputStream]    Script Date: 3/07/2023 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_RfOutputStream]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[name] [nvarchar](128) COLLATE Latin1_General_CI_AS NULL,
	[currentBuffer] [float] NULL,
	[dataSampleWidth] [numeric](5, 0) NULL,
	[dataSource] [nvarchar](128) COLLATE Latin1_General_CI_AS NULL,
	[desiredBuffer] [numeric](10, 0) NULL,
	[desiredDelay] [numeric](10, 0) NULL,
	[destinationPort] [numeric](5, 0) NULL,
	[droppedPackets] [numeric](10, 0) NULL,
	[frequencyOffset] [bigint] NULL,
	[gapCount] [numeric](10, 0) NULL,
	[measuredDelay] [numeric](10, 0) NULL,
	[measuredNetworkRate] [numeric](20, 0) NULL,
	[measuredPacketRate] [numeric](10, 0) NULL,
	[netStreamGain] [float] NULL,
	[networkDelay] [float] NULL,
	[packetOverhead] [float] NULL,
	[pfecDecoderStatus] [nvarchar](128) COLLATE Latin1_General_CI_AS NULL,
	[pfecMissingSets] [numeric](10, 0) NULL,
	[pfecRepairedPackets] [numeric](10, 0) NULL,
	[pfecTotalPackets] [numeric](20, 0) NULL,
	[pfecUnrepairablePackets] [numeric](10, 0) NULL,
	[preserveLatency] [bit] NULL,
	[preserveLatencyLatePackets] [numeric](10, 0) NULL,
	[preserveLatencyMaxBurstLoss] [numeric](10, 0) NULL,
	[preserveLatencyMissingPackets] [numeric](10, 0) NULL,
	[preserveLatencyOutOfOrderPackets] [numeric](10, 0) NULL,
	[preserveLatencyReleaseMargin] [numeric](10, 0) NULL,
	[releaseMode] [nvarchar](128) COLLATE Latin1_General_CI_AS NULL,
	[sourceHost] [nvarchar](128) COLLATE Latin1_General_CI_AS NULL,
	[sourcePort] [numeric](5, 0) NULL,
	[streamBandwidth] [float] NULL,
	[streamEnable] [bit] NULL,
	[streamId] [numeric](10, 0) NULL,
	[streamSampleRate] [float] NULL,
	[underflowCount] [numeric](10, 0) NULL,
	[upstreamIrigLocked] [bit] NULL,
	[upstreamOnePpsLocked] [bit] NULL,
	[upstreamPathGain] [float] NULL,
	[upstreamTenMhzLocked] [bit] NULL,
	[useLocalReference] [bit] NULL,

 CONSTRAINT [PK_M_RfOutputStream]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
/****** Object:  Table [dbo].[M_Routes]    Script Date: 3/07/2023 12:58:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_Routes]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[destination] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[gateway] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[netmask] [int] NOT NULL,

 CONSTRAINT [PK_M_Routes]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
INSERT [dbo].[H_FormatConfig] ([Table], [Attribute], [Access], [Normal], [Scale], [Format], [Units], [Help]) VALUES (N'Module', N'active', N'RW', N'TRUE', NULL, NULL, NULL, N'Set whether module is active or not')
INSERT [dbo].[H_FormatConfig] ([Table], [Attribute], [Access], [Normal], [Scale], [Format], [Units], [Help]) VALUES (N'Module', N'address', N'RW', N'', NULL, NULL, NULL, N'NTP Server Address')
INSERT [dbo].[H_FormatConfig] ([Table], [Attribute], [Access], [Normal], [Scale], [Format], [Units], [Help]) VALUES (N'Module', N'compositeStatus', N'RO', N'good', NULL, NULL, NULL, N'Composite status for this module - a composite of both the health status and the operational status')
GO
SET IDENTITY_INSERT [dbo].[H_SpectralNetGroups] ON 

INSERT [dbo].[H_SpectralNetGroups] ([id], [GroupID], [GroupName], [Site], [UnitId], [UnitName], [ChassisName], [Location], [PreIpAddress], [IpAddress], [RestQuery], [Direction], [DisplayOrder], [Timeout], [Enabled]) VALUES (1, 200, N'Group Id 200', N'SiteA', 2000, N'AUC Ant9 LHCP', N'AUC Chassis name', N'Auckland SAS', N'http://', N'10.228.41.179', N'rest/spectralNet/_attribute?_dive=true', N'Forward', 1, 500, 1)
INSERT [dbo].[H_SpectralNetGroups] ([id], [GroupID], [GroupName], [Site], [UnitId], [UnitName], [ChassisName], [Location], [PreIpAddress], [IpAddress], [RestQuery], [Direction], [DisplayOrder], [Timeout], [Enabled]) VALUES (2, 200, N'Group Id 200', N'SiteB', 2100, N'WRW Ant3 LHCP', N'AUC Chassis name', N'Warkworth SAS', N'http://', N'10.229.41.179', N'rest/spectralNet/_attribute?_dive=true', N'Return', 1, 500, 1)
SET IDENTITY_INSERT [dbo].[H_SpectralNetGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[M_AvailableStreams] ON 

INSERT [dbo].[M_AvailableStreams] ([id], [UnitId], [sourceIpAddress], [sourcePort], [streamId], [centerFrequency], [bandwidth], [sampleRate], [gain], [sampleWidth], [pfecEnabled], [irigLocked], [onePpsPresent], [tenMhzLocked]) VALUES (1, 2100, N'192.168.200.10', N'50000', CAST(0 AS Numeric(10, 0)), 1355500000, 20000000, 22500000, 10, CAST(10 AS Numeric(5, 0)), 0, 0, 1, 1)
INSERT [dbo].[M_AvailableStreams] ([id], [UnitId], [sourceIpAddress], [sourcePort], [streamId], [centerFrequency], [bandwidth], [sampleRate], [gain], [sampleWidth], [pfecEnabled], [irigLocked], [onePpsPresent], [tenMhzLocked]) VALUES (2, 2000, N'192.168.201.10', N'50000', CAST(0 AS Numeric(10, 0)), 1350000000, 20000000, 22500000, 20, CAST(10 AS Numeric(5, 0)), 0, 0, 1, 1)
SET IDENTITY_INSERT [dbo].[M_AvailableStreams] OFF
GO
SET IDENTITY_INSERT [dbo].[M_ControlNic] ON 

INSERT [dbo].[M_ControlNic] ([id], [UnitId], [addresses], [address], [netmask]) VALUES (2, 2000, N'manual', N'10.228.41.179', 26)
INSERT [dbo].[M_ControlNic] ([id], [UnitId], [addresses], [address], [netmask]) VALUES (1, 2100, N'manual', N'10.229.41.179', 26)
SET IDENTITY_INSERT [dbo].[M_ControlNic] OFF
GO
SET IDENTITY_INSERT [dbo].[M_DataNic] ON 

INSERT [dbo].[M_DataNic] ([id], [UnitId], [addresses], [address], [netmask]) VALUES (1, 2100, N'manual', N'192.168.201.10', 24)
INSERT [dbo].[M_DataNic] ([id], [UnitId], [addresses], [address], [netmask]) VALUES (2, 2000, N'manual', N'192.168.200.10', 24)
SET IDENTITY_INSERT [dbo].[M_DataNic] OFF
GO
SET IDENTITY_INSERT [dbo].[M_Dependencies] ON 

INSERT [dbo].[M_Dependencies] ([id], [UnitId], [dependant]) VALUES (45, 2000, N'irig')
INSERT [dbo].[M_Dependencies] ([id], [UnitId], [dependant]) VALUES (46, 2000, N'ntp')
INSERT [dbo].[M_Dependencies] ([id], [UnitId], [dependant]) VALUES (55, 2100, N'irig')
SET IDENTITY_INSERT [dbo].[M_Dependencies] OFF
GO
SET IDENTITY_INSERT [dbo].[M_InputRfPort1Spectrum] ON 

SET IDENTITY_INSERT [dbo].[M_InputRfPort1Spectrum] OFF
GO
SET IDENTITY_INSERT [dbo].[M_InputRfPort2Spectrum] ON 

SET IDENTITY_INSERT [dbo].[M_InputRfPort2Spectrum] OFF
GO
SET IDENTITY_INSERT [dbo].[M_InputRfSpectrum] ON 

SET IDENTITY_INSERT [dbo].[M_InputRfSpectrum] OFF
GO
SET IDENTITY_INSERT [dbo].[M_Modules] ON 

SET IDENTITY_INSERT [dbo].[M_Modules] OFF
GO
SET IDENTITY_INSERT [dbo].[M_OutputRfPort1Spectrum] ON 

SET IDENTITY_INSERT [dbo].[M_OutputRfPort1Spectrum] OFF
GO
SET IDENTITY_INSERT [dbo].[M_OutputRfPort2Spectrum] ON 

SET IDENTITY_INSERT [dbo].[M_OutputRfPort2Spectrum] OFF
GO
SET IDENTITY_INSERT [dbo].[M_OutputRfSpectrum] ON 

SET IDENTITY_INSERT [dbo].[M_OutputRfSpectrum] OFF
GO
SET IDENTITY_INSERT [dbo].[M_RfInputStream] ON 

SET IDENTITY_INSERT [dbo].[M_RfInputStream] OFF
GO
SET IDENTITY_INSERT [dbo].[M_RfOutputStream] ON 

SET IDENTITY_INSERT [dbo].[M_RfOutputStream] OFF
GO
SET IDENTITY_INSERT [dbo].[M_Routes] ON 

INSERT [dbo].[M_Routes] ([id], [UnitId], [destination], [gateway], [netmask]) VALUES (1, 2000, N'192.168.201.0', N'192.168.200.1', 24)
INSERT [dbo].[M_Routes] ([id], [UnitId], [destination], [gateway], [netmask]) VALUES (2, 2100, N'192.168.200.0', N'192.168.201.1', 24)
SET IDENTITY_INSERT [dbo].[M_Routes] OFF
GO
SET IDENTITY_INSERT [dbo].[M_SpectralNetGroups] ON 

INSERT [dbo].[M_SpectralNetGroups] ([id], [DateStamp], [GroupID], [GroupName], [Site], [UnitId], [UnitName], [ChassisName], [Location], [IpAddress], [Direction], [DisplayOrder], [Error], [ErrorText], [ReponseTime]) VALUES (1, CAST(N'2023-07-03T12:57:05.5050849' AS DateTime2), 200, N'Group Id 200', N'SiteA', 2000, N'AUC Ant9 LHCP', N'AUC Chassis name', N'Auckland SAS', N'10.228.41.179', N'Forward', 1, 0, N'', 100)
INSERT [dbo].[M_SpectralNetGroups] ([id], [DateStamp], [GroupID], [GroupName], [Site], [UnitId], [UnitName], [ChassisName], [Location], [IpAddress], [Direction], [DisplayOrder], [Error], [ErrorText], [ReponseTime]) VALUES (2, CAST(N'2023-07-03T12:57:05.5073411' AS DateTime2), 200, N'Group Id 200', N'SiteB', 2100, N'WRW Ant3 LHCP', N'AUC Chassis name', N'Warkworth SAS', N'10.229.41.179', N'Return', 1, 0, N'', 100)
SET IDENTITY_INSERT [dbo].[M_SpectralNetGroups] OFF
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[42] 4[36] 2[12] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "M_SpectralNetGroups"
            Begin Extent = 
               Top = 13
               Left = 38
               Bottom = 419
               Right = 232
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 15
         Width = 284
         Width = 3336
         Width = 3408
         Width = 4128
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1200
         Width = 1200
         Width = 1200
         Width = 1200
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1176
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1356
         SortOrder = 1416
         GroupBy = 1350
         Filter = 2916
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'RtStatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'RtStatus'
GO
USE [master]
GO
