USE [master]
GO
/****** Object:  Database [snnb_FO]    Script Date: 24/07/2023 13:40:11 ******/
CREATE DATABASE [snnb_FO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'snnb_FO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\snnb_FO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB ), 
 FILEGROUP [Mem_Opt_filegroup] CONTAINS MEMORY_OPTIMIZED_DATA  DEFAULT
( NAME = N'Mem_Opt_filegroup_file1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\Data\Mem_Opt_filegroup_file1' , MAXSIZE = UNLIMITED)
 LOG ON 
( NAME = N'snnb_FO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\snnb_FO_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [snnb_FO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [snnb_FO]
GO
/****** Object:  Table [dbo].[H_FormatConfig]    Script Date: 24/07/2023 13:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[H_FormatConfig](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Table] [nvarchar](50) NULL,
	[Attribute] [nvarchar](50) NULL,
	[Access] [nvarchar](50) NULL,
	[Normal] [nvarchar](50) NULL,
	[Scale] [int] NULL,
	[Format] [nvarchar](50) NULL,
	[Units] [nvarchar](50) NULL,
	[Help] [nvarchar](512) NULL,
 CONSTRAINT [PK__H_Format__3214EC07B2971FAB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[H_Log]    Script Date: 24/07/2023 13:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[H_Log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DateStamp] [datetime2](7) NOT NULL,
	[Application] [varchar](128) NOT NULL,
	[MemberName] [varchar](128) NOT NULL,
	[LineNumber] [int] NOT NULL,
	[Message] [varchar](1024) NOT NULL,
	[Additional] [varchar](1024) NOT NULL,
 CONSTRAINT [PK_H_Log] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[H_RangeConfig]    Script Date: 24/07/2023 13:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[H_RangeConfig](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Unit] [nvarchar](50) NOT NULL,
	[Table] [nvarchar](50) NOT NULL,
	[Attribute] [nvarchar](50) NOT NULL,
	[Lower] [float] NOT NULL,
	[Upper] [float] NOT NULL,
	[Enabled] [bit] NOT NULL,
	[InRange] [bit] NOT NULL,
 CONSTRAINT [PK__H_RangeC__3214EC073CD88B54] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[H_SpectralNetGroups]    Script Date: 24/07/2023 13:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[H_SpectralNetGroups](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ClusterID] [int] NOT NULL,
	[ClusterName] [nvarchar](128) NOT NULL,
	[GroupID] [int] NOT NULL,
	[GroupName] [nvarchar](128) NOT NULL,
	[Site] [nvarchar](128) NOT NULL,
	[UnitId] [int] NOT NULL,
	[UnitName] [nvarchar](128) NOT NULL,
	[RemoteUnit] [nvarchar](128) NOT NULL,
	[PeerUnit] [nvarchar](128) NOT NULL,
	[ChassisName] [nvarchar](128) NOT NULL,
	[Location] [nvarchar](128) NOT NULL,
	[IpAddress] [nvarchar](128) NOT NULL,
	[NetworkPath] [nvarchar](128) NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[Timeout] [int] NOT NULL,
	[Enabled] [bit] NOT NULL,
 CONSTRAINT [PK_H_SpectralNetGroups] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[H_SystemParam]    Script Date: 24/07/2023 13:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[H_SystemParam](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[PreIpAddress] [nvarchar](128) NOT NULL,
	[RestQuery] [nvarchar](128) NOT NULL,
	[PollPeriod] [int] NOT NULL,
	[Timeout] [int] NOT NULL,
	[Verbose] [bit] NOT NULL,
	[AutoOn] [bit] NOT NULL,
	[SwitchAll] [bit] NOT NULL,
	[SwitchDelay] [int] NOT NULL,
	[On_A_Path] [bit] NOT NULL,
 CONSTRAINT [PK_H_SystemParam] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[M_AvailableStreams]    Script Date: 24/07/2023 13:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_AvailableStreams]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[sourceIpAddress] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[sourcePort] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[streamId] [numeric](10, 0) NOT NULL,
	[centerFrequency] [float] NOT NULL,
	[bandwidth] [float] NOT NULL,
	[sampleRate] [float] NOT NULL,
	[gain] [float] NOT NULL,
	[sampleWidth] [numeric](5, 0) NOT NULL,
	[pfecEnabled] [bit] NOT NULL,
	[irigLocked] [bit] NOT NULL,
	[onePpsPresent] [bit] NOT NULL,
	[tenMhzLocked] [bit] NOT NULL,

 CONSTRAINT [PK_M_AvailableStreams]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_ControlNic]    Script Date: 24/07/2023 13:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_ControlNic]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[addresses] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[address] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[netmask] [int] NOT NULL,

 CONSTRAINT [PK_M_ControlNic]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_DataNic]    Script Date: 24/07/2023 13:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_DataNic]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[addresses] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[address] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[netmask] [int] NOT NULL,

 CONSTRAINT [PK_M_DataNic]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_Dependencies]    Script Date: 24/07/2023 13:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_Dependencies]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[dependant] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,

 CONSTRAINT [PK_M_Dependencies]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_InputRfPort1Spectrum]    Script Date: 24/07/2023 13:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_InputRfPort1Spectrum]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[Spectrum] [nvarchar](max) COLLATE Latin1_General_CI_AS NOT NULL,

 CONSTRAINT [PK_M_InputRfPort1Spectrum]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_InputRfPort2Spectrum]    Script Date: 24/07/2023 13:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_InputRfPort2Spectrum]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[Spectrum] [nvarchar](max) COLLATE Latin1_General_CI_AS NOT NULL,

 CONSTRAINT [PK_M_InputRfPort2Spectrum]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_InputRfSpectrum]    Script Date: 24/07/2023 13:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_InputRfSpectrum]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[Spectrum] [nvarchar](max) COLLATE Latin1_General_CI_AS NOT NULL,

 CONSTRAINT [PK_M_InputRfSpectrum]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_Modules]    Script Date: 24/07/2023 13:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_Modules]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[active] [bit] NOT NULL,
	[address] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[compositeStatus] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[compositeStatusMsg] [nvarchar](512) COLLATE Latin1_General_CI_AS NOT NULL,
	[contextPacketState] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[currentGain] [numeric](10, 0) NOT NULL,
	[discardedPackets] [numeric](10, 0) NOT NULL,
	[enableMulticastGroupSubscriptions] [bit] NOT NULL,
	[fanSpeed] [numeric](5, 0) NOT NULL,
	[gainMode] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[gateway] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[healthStatus] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[healthStatusMsg] [nvarchar](512) COLLATE Latin1_General_CI_AS NOT NULL,
	[inputRfAdcSaturation] [real] NOT NULL,
	[inputRfAdcSaturationPercent] [real] NOT NULL,
	[inputRfBandwidth] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[inputRfCenterFrequency] [real] NOT NULL,
	[inputRfPort1AdcSaturation] [real] NOT NULL,
	[inputRfPort1AdcSaturationPercent] [real] NOT NULL,
	[inputRfPort1MinimumGain] [int] NOT NULL,
	[inputRfPort1Power] [real] NOT NULL,
	[inputRfPort2AdcSaturation] [real] NOT NULL,
	[inputRfPort2AdcSaturationPercent] [real] NOT NULL,
	[inputRfPort2MinimumGain] [int] NOT NULL,
	[inputRfPort2Power] [real] NOT NULL,
	[inputRfPortSelect] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[inputRfPower] [real] NOT NULL,
	[inputRfSampleRate] [numeric](10, 0) NOT NULL,
	[invertRfOutputSpectrum] [bit] NOT NULL,
	[irigDcLocked] [bit] NOT NULL,
	[irigLocked] [bit] NOT NULL,
	[label] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[logLevel] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[manualGain] [int] NOT NULL,
	[minimumGain] [int] NOT NULL,
	[moduleState] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[moduleType] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[ntpStatus] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[onePpsPresent] [bit] NOT NULL,
	[outputAttenuation] [real] NOT NULL,
	[outputRfCenterFrequency] [float] NOT NULL,
	[outputRfDacSaturation] [real] NOT NULL,
	[outputRfDacSaturationPercent] [real] NOT NULL,
	[outputRfPort1DacSaturation] [real] NOT NULL,
	[outputRfPort1DacSaturationPercent] [real] NOT NULL,
	[outputRfPort1Power] [real] NOT NULL,
	[outputRfPort2DacSaturation] [real] NOT NULL,
	[outputRfPort2DacSaturationPercent] [real] NOT NULL,
	[outputRfPort2Power] [real] NOT NULL,
	[outputRfPortSelect] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[outputRfPower] [real] NOT NULL,
	[overrideOutputFrequency] [real] NOT NULL,
	[overrideOutputFrequencyEnable] [bit] NOT NULL,
	[pollInterval] [numeric](10, 0) NOT NULL,
	[posixNanoseconds] [numeric](10, 0) NOT NULL,
	[posixSeconds] [numeric](10, 0) NOT NULL,
	[rebootRequired] [bit] NOT NULL,
	[replyWaitTime] [nvarchar](32) COLLATE Latin1_General_CI_AS NOT NULL,
	[requiredReadPrivilege] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[requiredWritePrivilege] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[rfOutputEnable] [bit] NOT NULL,
	[rfOutputSource] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[securitySource] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[serialNumber] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[shortDescription] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[simulate] [bit] NOT NULL,
	[squelchEnabled] [bit] NOT NULL,
	[systemTemperature] [int] NOT NULL,
	[systemTimeSource] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[tenMhzLocked] [bit] NOT NULL,
	[version] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,

 CONSTRAINT [PK_M_Modules]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_MulticastGroupSubscriptions]    Script Date: 24/07/2023 13:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_MulticastGroupSubscriptions]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[McastAddr] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,

 CONSTRAINT [PK_M_MulticastGroupSubscriptions]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_OutputRfPort1Spectrum]    Script Date: 24/07/2023 13:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_OutputRfPort1Spectrum]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[Spectrum] [nvarchar](max) COLLATE Latin1_General_CI_AS NOT NULL,

 CONSTRAINT [PK_M_OutputRfPort1Spectrum]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_OutputRfPort2Spectrum]    Script Date: 24/07/2023 13:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_OutputRfPort2Spectrum]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[Spectrum] [nvarchar](max) COLLATE Latin1_General_CI_AS NOT NULL,

 CONSTRAINT [PK_M_OutputRfPort2Spectrum]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_OutputRfSpectrum]    Script Date: 24/07/2023 13:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_OutputRfSpectrum]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[Spectrum] [nvarchar](max) COLLATE Latin1_General_CI_AS NOT NULL,

 CONSTRAINT [PK_M_OutputRfSpectrum]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_RfInputStream]    Script Date: 24/07/2023 13:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_RfInputStream]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[name] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[bitRate] [numeric](10, 0) NOT NULL,
	[dataSampleWidth] [numeric](5, 0) NOT NULL,
	[destinationHost] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[destinationPort] [numeric](5, 0) NOT NULL,
	[frequencyOffset] [bigint] NOT NULL,
	[maximumPacketSize] [numeric](10, 0) NOT NULL,
	[measuredNetworkRate] [numeric](20, 0) NOT NULL,
	[measuredPacketRate] [numeric](10, 0) NOT NULL,
	[minimumProcessingDelay] [float] NOT NULL,
	[packetOverhead] [float] NOT NULL,
	[pfecEnable] [bit] NOT NULL,
	[routeSearch] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[sourcePort] [numeric](5, 0) NOT NULL,
	[streamBandwidth] [numeric](20, 0) NOT NULL,
	[streamEnable] [bit] NOT NULL,
	[streamGain] [float] NOT NULL,
	[streamId] [numeric](10, 0) NOT NULL,
	[streamSampleRate] [float] NOT NULL,

 CONSTRAINT [PK_M_RfInputStream]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_RfOutputStream]    Script Date: 24/07/2023 13:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_RfOutputStream]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[name] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[currentBuffer] [float] NOT NULL,
	[dataSampleWidth] [numeric](5, 0) NOT NULL,
	[dataSource] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[desiredBuffer] [numeric](10, 0) NOT NULL,
	[desiredDelay] [numeric](10, 0) NOT NULL,
	[destinationPort] [numeric](5, 0) NOT NULL,
	[droppedPackets] [numeric](10, 0) NOT NULL,
	[frequencyOffset] [bigint] NOT NULL,
	[gapCount] [numeric](10, 0) NOT NULL,
	[measuredDelay] [numeric](10, 0) NOT NULL,
	[measuredNetworkRate] [numeric](20, 0) NOT NULL,
	[measuredPacketRate] [numeric](10, 0) NOT NULL,
	[netStreamGain] [float] NOT NULL,
	[networkDelay] [float] NOT NULL,
	[packetOverhead] [float] NOT NULL,
	[pfecDecoderStatus] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[pfecMissingSets] [numeric](10, 0) NOT NULL,
	[pfecRepairedPackets] [numeric](10, 0) NOT NULL,
	[pfecTotalPackets] [numeric](20, 0) NOT NULL,
	[pfecUnrepairablePackets] [numeric](10, 0) NOT NULL,
	[preserveLatency] [bit] NOT NULL,
	[preserveLatencyLatePackets] [numeric](10, 0) NOT NULL,
	[preserveLatencyMaxBurstLoss] [numeric](10, 0) NOT NULL,
	[preserveLatencyMissingPackets] [numeric](10, 0) NOT NULL,
	[preserveLatencyOutOfOrderPackets] [numeric](10, 0) NOT NULL,
	[preserveLatencyReleaseMargin] [numeric](10, 0) NOT NULL,
	[releaseMode] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[sourceHost] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[sourcePort] [numeric](5, 0) NOT NULL,
	[streamBandwidth] [float] NOT NULL,
	[streamEnable] [bit] NOT NULL,
	[streamId] [numeric](10, 0) NOT NULL,
	[streamSampleRate] [float] NOT NULL,
	[underflowCount] [numeric](10, 0) NOT NULL,
	[upstreamIrigLocked] [bit] NOT NULL,
	[upstreamOnePpsLocked] [bit] NOT NULL,
	[upstreamPathGain] [float] NOT NULL,
	[upstreamTenMhzLocked] [bit] NOT NULL,
	[useLocalReference] [bit] NOT NULL,

 CONSTRAINT [PK_M_RfOutputStream]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_Routes]    Script Date: 24/07/2023 13:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_Routes]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[UnitId] [int] NOT NULL,
	[destination] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[gateway] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[netmask] [int] NOT NULL,

 CONSTRAINT [PK_M_Routes]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[M_SpectralNetGroups]    Script Date: 24/07/2023 13:40:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[M_SpectralNetGroups]
(
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DateStamp] [datetime2](7) NOT NULL,
	[ClusterID] [int] NOT NULL,
	[ClusterName] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[GroupID] [int] NOT NULL,
	[GroupName] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[Site] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[UnitId] [int] NOT NULL,
	[UnitName] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[RemoteUnit] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[PeerUnit] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[ChassisName] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[Location] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[IpAddress] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[NetworkPath] [nvarchar](128) COLLATE Latin1_General_CI_AS NOT NULL,
	[DisplayOrder] [int] NOT NULL,
	[Error] [bit] NOT NULL,
	[ErrorText] [nvarchar](512) COLLATE Latin1_General_CI_AS NOT NULL,
	[ReponseTime] [int] NOT NULL,

 CONSTRAINT [PK_M_SpectralNetGroups]  PRIMARY KEY NONCLUSTERED HASH 
(
	[id]
)WITH ( BUCKET_COUNT = 256)
)WITH ( MEMORY_OPTIMIZED = ON , DURABILITY = SCHEMA_ONLY )
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[H_FormatConfig] ON 

INSERT [dbo].[H_FormatConfig] ([Id], [Table], [Attribute], [Access], [Normal], [Scale], [Format], [Units], [Help]) VALUES (1, N'Module', N'active', N'RW', N'TRUE', NULL, NULL, NULL, N'Set whether module is active or not')
INSERT [dbo].[H_FormatConfig] ([Id], [Table], [Attribute], [Access], [Normal], [Scale], [Format], [Units], [Help]) VALUES (2, N'Module', N'address', N'RW', N'', NULL, NULL, NULL, N'NTP Server Address')
INSERT [dbo].[H_FormatConfig] ([Id], [Table], [Attribute], [Access], [Normal], [Scale], [Format], [Units], [Help]) VALUES (3, N'Module', N'compositeStatus', N'RO', N'good', NULL, NULL, NULL, N'Composite status for this module - a composite of both the health status and the operational status')
GO
SET IDENTITY_INSERT [dbo].[H_FormatConfig] OFF
GO
SET IDENTITY_INSERT [dbo].[H_RangeConfig] ON 

INSERT [dbo].[H_RangeConfig] ([Id], [Unit], [Table], [Attribute], [Lower], [Upper], [Enabled], [InRange]) VALUES (1, N'Default', N'Module', N'fanSpeed', 4000, 7000, 1, 1)
INSERT [dbo].[H_RangeConfig] ([Id], [Unit], [Table], [Attribute], [Lower], [Upper], [Enabled], [InRange]) VALUES (2, N'Default', N'Module', N'inputRfAdcSaturationPercent', 10, 96, 1, 1)
INSERT [dbo].[H_RangeConfig] ([Id], [Unit], [Table], [Attribute], [Lower], [Upper], [Enabled], [InRange]) VALUES (3, N'Default', N'Module', N'systemTemperature', 30, 60, 1, 1)
SET IDENTITY_INSERT [dbo].[H_RangeConfig] OFF
GO
SET IDENTITY_INSERT [dbo].[H_SpectralNetGroups] ON 

INSERT [dbo].[H_SpectralNetGroups] ([id], [ClusterID], [ClusterName], [GroupID], [GroupName], [Site], [UnitId], [UnitName], [RemoteUnit], [PeerUnit], [ChassisName], [Location], [IpAddress], [NetworkPath], [DisplayOrder], [Timeout], [Enabled]) VALUES (1, 2, N'WRW ANT2', 201, N'AUC-WRW LH1', N'Baseband', 2000, N'AUC-LH1A', N'WRW-LH1A', N'AUC-LH1B', N'AUC Chassis name', N'Auckland SAS', N'10.228.41.179', N'Primary', 1, 500, 1)
INSERT [dbo].[H_SpectralNetGroups] ([id], [ClusterID], [ClusterName], [GroupID], [GroupName], [Site], [UnitId], [UnitName], [RemoteUnit], [PeerUnit], [ChassisName], [Location], [IpAddress], [NetworkPath], [DisplayOrder], [Timeout], [Enabled]) VALUES (2, 2, N'WRW ANT2', 201, N'AUC-WRW LH1', N'Antenna', 2100, N'WRW-LH1A', N'AUC-LH1A', N'WRW-LH1B', N'AUC Chassis name', N'Warkworth SAS', N'10.229.41.179', N'Primary', 51, 500, 1)
INSERT [dbo].[H_SpectralNetGroups] ([id], [ClusterID], [ClusterName], [GroupID], [GroupName], [Site], [UnitId], [UnitName], [RemoteUnit], [PeerUnit], [ChassisName], [Location], [IpAddress], [NetworkPath], [DisplayOrder], [Timeout], [Enabled]) VALUES (3, 2, N'WRW ANT2', 201, N'AUC-WRW LH1', N'Baseband', 2001, N'AUC-LH1B', N'WRW-LH1B', N'AUC-LH1A', N'AUC Chassis name', N'Auckland SAS', N'10.228.41.160', N'Secondary', 2, 500, 1)
SET IDENTITY_INSERT [dbo].[H_SpectralNetGroups] OFF
GO
SET IDENTITY_INSERT [dbo].[H_SystemParam] ON 

INSERT [dbo].[H_SystemParam] ([id], [PreIpAddress], [RestQuery], [PollPeriod], [Timeout], [Verbose], [AutoOn], [SwitchAll], [SwitchDelay], [On_A_Path]) VALUES (1, N'http://', N'/rest/spectralNet/_attribute?_dive=true', 2000, 500, 1, 0, 0, 3, 0)
SET IDENTITY_INSERT [dbo].[H_SystemParam] OFF
GO
SET IDENTITY_INSERT [dbo].[M_AvailableStreams] ON 

INSERT [dbo].[M_AvailableStreams] ([id], [UnitId], [sourceIpAddress], [sourcePort], [streamId], [centerFrequency], [bandwidth], [sampleRate], [gain], [sampleWidth], [pfecEnabled], [irigLocked], [onePpsPresent], [tenMhzLocked]) VALUES (2, 2100, N'192.168.200.10', N'50000', CAST(0 AS Numeric(10, 0)), 1355500000, 20000000, 22500000, 10, CAST(10 AS Numeric(5, 0)), 0, 0, 1, 1)
INSERT [dbo].[M_AvailableStreams] ([id], [UnitId], [sourceIpAddress], [sourcePort], [streamId], [centerFrequency], [bandwidth], [sampleRate], [gain], [sampleWidth], [pfecEnabled], [irigLocked], [onePpsPresent], [tenMhzLocked]) VALUES (3, 2000, N'192.168.201.10', N'50000', CAST(0 AS Numeric(10, 0)), 1350000000, 20000000, 22500000, 20, CAST(10 AS Numeric(5, 0)), 0, 0, 1, 1)
SET IDENTITY_INSERT [dbo].[M_AvailableStreams] OFF
GO
SET IDENTITY_INSERT [dbo].[M_ControlNic] ON 

INSERT [dbo].[M_ControlNic] ([id], [UnitId], [addresses], [address], [netmask]) VALUES (2, 2100, N'manual', N'10.229.41.179', 26)
INSERT [dbo].[M_ControlNic] ([id], [UnitId], [addresses], [address], [netmask]) VALUES (3, 2000, N'manual', N'10.228.41.179', 26)
SET IDENTITY_INSERT [dbo].[M_ControlNic] OFF
GO
SET IDENTITY_INSERT [dbo].[M_DataNic] ON 

INSERT [dbo].[M_DataNic] ([id], [UnitId], [addresses], [address], [netmask]) VALUES (2, 2100, N'manual', N'192.168.201.10', 24)
INSERT [dbo].[M_DataNic] ([id], [UnitId], [addresses], [address], [netmask]) VALUES (3, 2000, N'manual', N'192.168.200.10', 24)
SET IDENTITY_INSERT [dbo].[M_DataNic] OFF
GO
SET IDENTITY_INSERT [dbo].[M_Dependencies] ON 

INSERT [dbo].[M_Dependencies] ([id], [UnitId], [dependant]) VALUES (975, 2000, N'irig')
INSERT [dbo].[M_Dependencies] ([id], [UnitId], [dependant]) VALUES (976, 2000, N'ntp')
INSERT [dbo].[M_Dependencies] ([id], [UnitId], [dependant]) VALUES (973, 2000, N'ad936xController')
SET IDENTITY_INSERT [dbo].[M_Dependencies] OFF
GO
SET IDENTITY_INSERT [dbo].[M_InputRfPort1Spectrum] ON 

SET IDENTITY_INSERT [dbo].[M_InputRfPort1Spectrum] OFF
GO
SET IDENTITY_INSERT [dbo].[M_InputRfPort2Spectrum] ON 

SET IDENTITY_INSERT [dbo].[M_InputRfPort2Spectrum] OFF
GO
SET IDENTITY_INSERT [dbo].[M_InputRfSpectrum] ON 

SET IDENTITY_INSERT [dbo].[M_InputRfSpectrum] OFF
GO
SET IDENTITY_INSERT [dbo].[M_Modules] ON 

SET IDENTITY_INSERT [dbo].[M_Modules] OFF
GO
SET IDENTITY_INSERT [dbo].[M_OutputRfPort1Spectrum] ON 

SET IDENTITY_INSERT [dbo].[M_OutputRfPort1Spectrum] OFF
GO
SET IDENTITY_INSERT [dbo].[M_OutputRfPort2Spectrum] ON 

SET IDENTITY_INSERT [dbo].[M_OutputRfPort2Spectrum] OFF
GO
SET IDENTITY_INSERT [dbo].[M_OutputRfSpectrum] ON 

SET IDENTITY_INSERT [dbo].[M_OutputRfSpectrum] OFF
GO
SET IDENTITY_INSERT [dbo].[M_RfInputStream] ON 

SET IDENTITY_INSERT [dbo].[M_RfInputStream] OFF
GO
SET IDENTITY_INSERT [dbo].[M_RfOutputStream] ON 

SET IDENTITY_INSERT [dbo].[M_RfOutputStream] OFF
GO
SET IDENTITY_INSERT [dbo].[M_Routes] ON 

INSERT [dbo].[M_Routes] ([id], [UnitId], [destination], [gateway], [netmask]) VALUES (3, 2000, N'192.168.201.0', N'192.168.200.1', 24)
INSERT [dbo].[M_Routes] ([id], [UnitId], [destination], [gateway], [netmask]) VALUES (2, 2100, N'192.168.200.0', N'192.168.201.1', 24)
SET IDENTITY_INSERT [dbo].[M_Routes] OFF
GO
SET IDENTITY_INSERT [dbo].[M_SpectralNetGroups] ON 

INSERT [dbo].[M_SpectralNetGroups] ([id], [DateStamp], [ClusterID], [ClusterName], [GroupID], [GroupName], [Site], [UnitId], [UnitName], [RemoteUnit], [PeerUnit], [ChassisName], [Location], [IpAddress], [NetworkPath], [DisplayOrder], [Error], [ErrorText], [ReponseTime]) VALUES (12, CAST(N'2023-07-24T13:38:48.3242045' AS DateTime2), 2, N'WRW ANT2', 201, N'AUC-WRW LH1', N'Antenna', 2101, N'WRW-LH1B', N'AUC-LH1B', N'WRW-LH1A', N'AUC Chassis name', N'Warkworth SAS', N'10.229.41.160', N'Secondary', 52, 1, N'Call timed out: GET http://10.229.41.160/rest/spectralNet/_attribute?_dive=true', 4715)
INSERT [dbo].[M_SpectralNetGroups] ([id], [DateStamp], [ClusterID], [ClusterName], [GroupID], [GroupName], [Site], [UnitId], [UnitName], [RemoteUnit], [PeerUnit], [ChassisName], [Location], [IpAddress], [NetworkPath], [DisplayOrder], [Error], [ErrorText], [ReponseTime]) VALUES (13, CAST(N'2023-07-24T13:38:48.3327194' AS DateTime2), 2, N'WRW ANT2', 203, N'AUC-WRW RH1', N'Baseband', 2005, N'AUC-RH1B', N'WRW-RH1B', N'AUC-RH1A', N'AUC Chassis name', N'Auckland SAS', N'10.228.41.164', N'Secondary', 6, 1, N'Call timed out: GET http://10.228.41.164/rest/spectralNet/_attribute?_dive=true', 4742)
INSERT [dbo].[M_SpectralNetGroups] ([id], [DateStamp], [ClusterID], [ClusterName], [GroupID], [GroupName], [Site], [UnitId], [UnitName], [RemoteUnit], [PeerUnit], [ChassisName], [Location], [IpAddress], [NetworkPath], [DisplayOrder], [Error], [ErrorText], [ReponseTime]) VALUES (11, CAST(N'2023-07-24T13:38:48.3488263' AS DateTime2), 2, N'WRW ANT2', 204, N'AUC-WRW RH2', N'Baseband', 2006, N'AUC-RH2A', N'WRW-RH2A', N'AUC-RH2B', N'AUC Chassis name', N'Auckland SAS', N'10.228.41.165', N'Primary', 7, 1, N'Call timed out: GET http://10.228.41.165/rest/spectralNet/_attribute?_dive=true', 4774)
SET IDENTITY_INSERT [dbo].[M_SpectralNetGroups] OFF
GO
/****** Object:  Statistic [PK__H_Format__3214EC07B2971FAB]    Script Date: 24/07/2023 13:40:11 ******/
UPDATE STATISTICS [dbo].[H_FormatConfig]([PK__H_Format__3214EC07B2971FAB]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,ROWCOUNT = 141,PAGECOUNT = 4
GO
/****** Object:  Statistic [PK_H_Log]    Script Date: 24/07/2023 13:40:11 ******/
UPDATE STATISTICS [dbo].[H_Log]([PK_H_Log]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,ROWCOUNT = 0,PAGECOUNT = 1
GO
/****** Object:  Statistic [PK__H_RangeC__3214EC073CD88B54]    Script Date: 24/07/2023 13:40:11 ******/
UPDATE STATISTICS [dbo].[H_RangeConfig]([PK__H_RangeC__3214EC073CD88B54]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,ROWCOUNT = 7,PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000011_5AEE82B9]    Script Date: 24/07/2023 13:40:11 ******/
CREATE STATISTICS [_WA_Sys_00000011_5AEE82B9] ON [dbo].[H_SpectralNetGroups]([Enabled]) WITH STATS_STREAM = 0x01000000010000000000000000000000D940054A00000000F401000000000000B4010000000000006803C1C968000000010001000000000000000000000000000700000052AD900046B0000010000000000000001000000000000000000000000000003F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000020000000200000001000000110000000000803F00008041000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011040000000000000000000000000000380000000000000040000000000000004800000000000000100000000000000024000000000000001000110000007041000000000000803F00040000100011000000803F000000000000803F0104000010000000000000000000000000000000
GO
/****** Object:  Statistic [PK_H_SpectralNetGroups]    Script Date: 24/07/2023 13:40:11 ******/
UPDATE STATISTICS [dbo].[H_SpectralNetGroups]([PK_H_SpectralNetGroups]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,ROWCOUNT = 16,PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_H_SystemParam]    Script Date: 24/07/2023 13:40:11 ******/
UPDATE STATISTICS [dbo].[H_SystemParam]([PK_H_SystemParam]) WITH STATS_STREAM = 0x01000000010000000000000000000000A3D3C7DB0000000040000000000000000000000000000000380300003800000004000A00000000000000000038000000,ROWCOUNT = 1,PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_M_AvailableStreams]    Script Date: 24/07/2023 13:40:11 ******/
UPDATE STATISTICS [dbo].[M_AvailableStreams]([PK_M_AvailableStreams]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [_WA_Sys_00000002_31EC6D26]    Script Date: 24/07/2023 13:40:11 ******/
CREATE STATISTICS [_WA_Sys_00000002_31EC6D26] ON [dbo].[M_ControlNic]([UnitId]) WITH STATS_STREAM = 0x01000000010000000000000000000000ABC35E0800000000FA01000000000000BA010000000000003803006F3800000004000A0000000000000000000000F0BF070000006C9C8C0036B0000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803FD0070000040000100014000000803F000000000000803F3408000004000002000000000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [PK_M_ControlNic]    Script Date: 24/07/2023 13:40:11 ******/
UPDATE STATISTICS [dbo].[M_ControlNic]([PK_M_ControlNic]) WITH STATS_STREAM = 0x010000000100000000000000000000006FC962C000000000400000000000000000000000000000003803FFFF3800000004000A00000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [_WA_Sys_00000002_33D4B598]    Script Date: 24/07/2023 13:40:11 ******/
CREATE STATISTICS [_WA_Sys_00000002_33D4B598] ON [dbo].[M_DataNic]([UnitId]) WITH STATS_STREAM = 0x010000000100000000000000000000006629379E00000000FA01000000000000BA010000000000003803006F3800000004000A0000000000000000000000F0BF07000000709C8C0036B0000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803FD0070000040000100014000000803F000000000000803F3408000004000002000000000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [PK_M_DataNic]    Script Date: 24/07/2023 13:40:11 ******/
UPDATE STATISTICS [dbo].[M_DataNic]([PK_M_DataNic]) WITH STATS_STREAM = 0x010000000100000000000000000000006FC962C000000000400000000000000000000000000000003803FFFF3800000004000A00000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [_WA_Sys_00000002_35BCFE0A]    Script Date: 24/07/2023 13:40:11 ******/
CREATE STATISTICS [_WA_Sys_00000002_35BCFE0A] ON [dbo].[M_Dependencies]([UnitId]) WITH STATS_STREAM = 0x01000000010000000000000000000000E3F90D6E00000000DB010000000000009B01000000000000380300003800000004000A000000000000000000007700730700000085AF910048B000000A000000000000000A00000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000204100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F0000000000000008000000000000001000140000002041000000000000803FD00700000400000A000000000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [PK_M_Dependencies]    Script Date: 24/07/2023 13:40:11 ******/
UPDATE STATISTICS [dbo].[M_Dependencies]([PK_M_Dependencies]) WITH STATS_STREAM = 0x010000000100000000000000000000005EDBE49F0000000040000000000000000000000000000000380351593800000004000A00000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [_WA_Sys_00000002_37A5467C]    Script Date: 24/07/2023 13:40:11 ******/
CREATE STATISTICS [_WA_Sys_00000002_37A5467C] ON [dbo].[M_InputRfPort1Spectrum]([UnitId]) WITH STATS_STREAM = 0x01000000010000000000000000000000557FAC2600000000FA01000000000000BA010000000000003803C1C93800000004000A0000000000000000000000000007000000D89C8C0036B0000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803FD0070000040000100014000000803F000000000000803F3408000004000002000000000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [PK_M_InputRfPort1Spectrum]    Script Date: 24/07/2023 13:40:11 ******/
UPDATE STATISTICS [dbo].[M_InputRfPort1Spectrum]([PK_M_InputRfPort1Spectrum]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [_WA_Sys_00000002_398D8EEE]    Script Date: 24/07/2023 13:40:11 ******/
CREATE STATISTICS [_WA_Sys_00000002_398D8EEE] ON [dbo].[M_InputRfPort2Spectrum]([UnitId]) WITH STATS_STREAM = 0x010000000100000000000000000000004236F13500000000FA01000000000000BA01000000000000380300003800000004000A0000000000000000000B02000007000000DC9C8C0036B0000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803FD0070000040000100014000000803F000000000000803F3408000004000002000000000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [PK_M_InputRfPort2Spectrum]    Script Date: 24/07/2023 13:40:11 ******/
UPDATE STATISTICS [dbo].[M_InputRfPort2Spectrum]([PK_M_InputRfPort2Spectrum]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [_WA_Sys_00000002_3B75D760]    Script Date: 24/07/2023 13:40:11 ******/
CREATE STATISTICS [_WA_Sys_00000002_3B75D760] ON [dbo].[M_InputRfSpectrum]([UnitId]) WITH STATS_STREAM = 0x010000000100000000000000000000001CAA015700000000FA01000000000000BA01000000000000380300003800000004000A0000000000000000000B02000007000000D49C8C0036B0000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803FD0070000040000100014000000803F000000000000803F3408000004000002000000000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [PK_M_InputRfSpectrum]    Script Date: 24/07/2023 13:40:11 ******/
UPDATE STATISTICS [dbo].[M_InputRfSpectrum]([PK_M_InputRfSpectrum]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [_WA_Sys_00000002_3D5E1FD2]    Script Date: 24/07/2023 13:40:11 ******/
CREATE STATISTICS [_WA_Sys_00000002_3D5E1FD2] ON [dbo].[M_Modules]([UnitId]) WITH STATS_STREAM = 0x01000000010000000000000000000000F60C429D000000009E020000000000005E02000000000000380300003800000004000A0000000000000000000000000007000000C33BFA0047B0000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000190400000000000000000000000000003E00000000000000DA00000000000000E200000000000000EA0000000000000010000000000000002700000000000000100014000000803F000000000000803FD0070000040000100014000000803F000000000000803F3408000004000002000000C9D5F70047B0000000000000000000404B4F00000000000002000000000000000000E03F00000000000000000000000000000000000000000060704000000000006070400000000000000000386DF50047B0000000000000000000403D4D00000000000002000000000000000000E03F0000000000000000000000000000000000000000007070400000000000707040000000000000000002000000000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [PK_M_Modules]    Script Date: 24/07/2023 13:40:11 ******/
UPDATE STATISTICS [dbo].[M_Modules]([PK_M_Modules]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [_WA_Sys_00000002_3F466844]    Script Date: 24/07/2023 13:40:11 ******/
CREATE STATISTICS [_WA_Sys_00000002_3F466844] ON [dbo].[M_MulticastGroupSubscriptions]([UnitId]) WITH STATS_STREAM = 0x010000000100000000000000000000009F5FA90000000000400000000000000000000000000000003803C1C93800000004000A00000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [PK_M_MulticastGroupSubscriptions]    Script Date: 24/07/2023 13:40:11 ******/
UPDATE STATISTICS [dbo].[M_MulticastGroupSubscriptions]([PK_M_MulticastGroupSubscriptions]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [_WA_Sys_00000002_412EB0B6]    Script Date: 24/07/2023 13:40:11 ******/
CREATE STATISTICS [_WA_Sys_00000002_412EB0B6] ON [dbo].[M_OutputRfPort1Spectrum]([UnitId]) WITH STATS_STREAM = 0x01000000010000000000000000000000810F2F0600000000FA01000000000000BA01000000000000380300003800000004000A0000000000000000000B02000007000000E29C8C0036B0000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803FD0070000040000100014000000803F000000000000803F3408000004000002000000000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [PK_M_OutputRfPort1Spectrum]    Script Date: 24/07/2023 13:40:11 ******/
UPDATE STATISTICS [dbo].[M_OutputRfPort1Spectrum]([PK_M_OutputRfPort1Spectrum]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [_WA_Sys_00000002_4316F928]    Script Date: 24/07/2023 13:40:11 ******/
CREATE STATISTICS [_WA_Sys_00000002_4316F928] ON [dbo].[M_OutputRfPort2Spectrum]([UnitId]) WITH STATS_STREAM = 0x01000000010000000000000000000000A234695500000000FA01000000000000BA01000000000000380300003800000004000A0000000000000000000B02000007000000E59C8C0036B0000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803FD0070000040000100014000000803F000000000000803F3408000004000002000000000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [PK_M_OutputRfPort2Spectrum]    Script Date: 24/07/2023 13:40:11 ******/
UPDATE STATISTICS [dbo].[M_OutputRfPort2Spectrum]([PK_M_OutputRfPort2Spectrum]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [_WA_Sys_00000002_44FF419A]    Script Date: 24/07/2023 13:40:11 ******/
CREATE STATISTICS [_WA_Sys_00000002_44FF419A] ON [dbo].[M_OutputRfSpectrum]([UnitId]) WITH STATS_STREAM = 0x010000000100000000000000000000004E43CF5700000000FA01000000000000BA01000000000000380300003800000004000A0000000000000000000B02000007000000DF9C8C0036B0000002000000000000000200000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000004000000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E0000000000000010000000000000002700000000000000100014000000803F000000000000803FD0070000040000100014000000803F000000000000803F3408000004000002000000000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [PK_M_OutputRfSpectrum]    Script Date: 24/07/2023 13:40:11 ******/
UPDATE STATISTICS [dbo].[M_OutputRfSpectrum]([PK_M_OutputRfSpectrum]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [PK_M_RfInputStream]    Script Date: 24/07/2023 13:40:11 ******/
UPDATE STATISTICS [dbo].[M_RfInputStream]([PK_M_RfInputStream]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [PK_M_RfOutputStream]    Script Date: 24/07/2023 13:40:11 ******/
UPDATE STATISTICS [dbo].[M_RfOutputStream]([PK_M_RfOutputStream]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [PK_M_Routes]    Script Date: 24/07/2023 13:40:11 ******/
UPDATE STATISTICS [dbo].[M_Routes]([PK_M_Routes]) WITH STATS_STREAM = 0x01000000010000000000000000000000A3D3C7DB0000000040000000000000000000000000000000380300003800000004000A00000000000000000038000000,NORECOMPUTE
GO
/****** Object:  Statistic [_WA_Sys_00000008_5CD6CB2B]    Script Date: 24/07/2023 13:40:11 ******/
CREATE STATISTICS [_WA_Sys_00000008_5CD6CB2B] ON [dbo].[M_SpectralNetGroups]([UnitId]) WITH STATS_STREAM = 0x01000000010000000000000000000000FF79879B0000000066030000000000002603000000000000380300003800000004000A0000000000000000001000000007000000C449FA0047B00000080000000000000008000000000000000000803F0000003E00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000600000006000000010000001400000000008040000000410000000000008040000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000019040000000000000000000000000000BA00000000000000A201000000000000AA01000000000000B201000000000000300000000000000047000000000000005E0000000000000075000000000000008C00000000000000A300000000000000100014000000803F000000000000803FD0070000040000100014000000803F0000803F0000803FD2070000040000100014000000803F000000000000803FD3070000040000100014000000803F000000000000803F34080000040000100014000000803F0000803F0000803F36080000040000100014000000803F000000000000803F37080000040000030000006F5FF90047B0000000000000000020406E6A00000000000006000000000000000000C03F000000000000000000000000000000000000000000406F400000000000406F400000000000000000FC6DF80047B0000000000000000020406E6800000000000006000000000000000000C03F00000000000000000000000000000000000000000000704000000000000070400000000000000000FE48F70047B000000000000000002040FA6500000000000006000000000000000000C03F000000000000000000000000000000000000000000A073400000000000A07340000000000000000008000000000000000000000000000000,NORECOMPUTE
GO
/****** Object:  Statistic [PK_M_SpectralNetGroups]    Script Date: 24/07/2023 13:40:11 ******/
UPDATE STATISTICS [dbo].[M_SpectralNetGroups]([PK_M_SpectralNetGroups]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000,NORECOMPUTE
GO
USE [master]
GO
